<div class="signup-background"></div>

<div class="signup-container">

  <div class="signup-container__form">
    <div class="signup-container__form__header">
      <header>Title</header>
    </div>
    <div class="signup-container__form__container">
      <%= form_for(:user, url: registration_path(:user)) do |f| %>

        <div class="field">
          <%= f.label :email, class: 'signup-container__form__label' %><br />
          <%= f.email_field :email, autofocus: true, class: 'signup-container__form__input' %>
        </div>

        <div class="field">
          <%= f.label :password, class: 'signup-container__form__label' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'signup-container__form__input' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'signup-container__form__label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'signup-container__form__input' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
