<%= form_for(meal_template) do |f| %>
  <% if meal_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal_template.errors.count, "error") %> prohibited this meal_template from being saved:</h2>

      <ul>
      <% meal_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
